<h1>Hello Reset</h1>

<%= form_for @conn, forgotpass_path(@conn, :update_password, @hash), [as: :newpass], fn f -> %>
  <h6>Please enter your new password:</h6>
  <%= ">>>>>>>>>>>>" <> @hash %>
  <div class="form-group">
    <%= label f, :email, class: "control-label" %>
    <%= password_input f, :password, class: "form-control" %>
  </div>
  <%= submit "Send", class: "btn btn-primary" %>
<% end %>

