<h1>Groups</h1>

<ul>
  <%= for group <- @groups do %>
  <li>
    <%= group.group_name %>
  </li>
  <% end %>
</ul>

<%= form_for @changeset, group_path(@conn, :create), fn f -> %>
  <div>
    <%= text_input f, :group_name, placeholder: "Group Name" %>
    <%= error_tag f, :group_name %>
  </div>
  <%= submit "Create Group", class: "button" %>
<% end %>
