/* This file is for your main application css. */

.help-block {
  color: red;
  text-transform: capitalize;
}

.skillswheel-school-access {
  background-color: #e74c3c;
  color: #ffffff;
  padding: 1em;
  border-radius: 4px;
  font-size: 1.2em;
}
